ul{
	padding: 0!important;
	margin: 0!important;
	list-style: none;
}
a{
	text-decoration: none!important;
	color: white!important;
}
.alert-danger{
	position: fixed!important;
	bottom: 25px;
	right: 25px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

div.input{
	width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1.2rem;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"] {
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #FFA500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #FF8C00;
}
.footer{

}